<html>
	<style>
		body {
			font-size: 15pt;
			font-family: arial;
		}
	</style>

	<body>
        <h1>Add a Pokemon</h1>
        <div style="color: red">{{error}}</div>
		<form method="POST" action="/pokemon-name">
			<p>
				<input type="text" name="name" />
				<input type="submit" value="Search By Pokemon Name" />
			</p>
		</form>
        <p>
            <table>
                <th>Catch Pokemon?</th>
                <th>Pokedex Number</th>
                <th>Name</th>
                <th>Attack</th>
                <th>Defense</th>
                <th>Hp</th>
                <th>Special Attack</th>
                <th>Special Defense</th>
                <th>Speed</th>
                <th>Weight</th>
                <th>Generation</th>
                <th>Is Legendary?</th>
                    {% for n in pokemon %}
                    <form action="/pokemon/add/{{n[0]}}">
                        <tr>
                            <td><input type="submit" value="Catch" /></td>
                            {% for p in n[:-1] %}
                                <td>{{p}}</td>
                            {% endfor %}
                            {% if n[-1] == 1%}
                                <td>Yes</td>
                            {% else %}
                                <td>No</td>
                            {% endif %}
                        </tr>
                    </form>
                    {% endfor %}
            </table>
        </p>

        <p>
            <a href="/pokemon/add">Add a Pokemon</a>
            <a href="/pokemon/delete">Delete a Pokemon</a>
        </p>

		<footer>
			<p>
				<a href="/home">Home</a>
				<a href="/pokemon">View Pokemon</a>
			</p>
		</footer>
	</body>
</html>
